<p>
  <%= simple_format(comment.body) %>
  <%= "- #{comment.user.name}" %>
  <% if current_user %>
    <%= link_to (t 'defaults.delete'), theme_comment_path(theme, comment), data: { turbo_method: :delete } if current_user.own?(comment) %>
  <% end %>
</p>