<%#= turbo_frame_tag dom_id(answer, :like) do %>
  <%# binding.pry %>
  <%#= link_to 'unlike', like_path(answer.likes.find { |a| a.user_id == current_user.id }), 
                          data: { turbo_method: :delete } %>
  <%#= link_to like_path(answer.likes.find { |a| a.user_id == current_user.id }), data: { turbo_method: :delete } do %>
    <%# <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="red" stroke="#000000" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> %>
  <%# end %>
<%# end %>

<%= turbo_frame_tag dom_id(answer, :like) do %>
  <div class="flex my-2">
    <%= link_to like_path(current_user.likes.find_by(answer_id: answer.id)),
                          id: "js-like-button-for-answer-#{answer.id}",
                          data: { turbo_method: :delete } do %>
                            <svg style="color: red" xmlns="http://www.w3.org/2000/svg" class="mr-2 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path></svg>
                          <% end %>
    <div class=""><%= answer.likes.count %></div>
  </div>
<% end %>