<%# <div class="flex flex-col items-center"> %>
<div class="container flex flex-wrap mx-auto">
  <% if @themes.present? %>
    <%= render @themes %>
  <% else %>
    <p><%= 'お題がありません' %></p>
  <% end %>
</div>