<% if @themes.present? %>
  <%= turbo_frame_tag @themes.current_page do %>
    <%= render @themes %>
    <%= turbo_frame_tag @themes.next_page, loading: :lazy, src: path_to_next_page(@themes) %>
  <% end %>
<% else %>
  <p><%= 'お題がありません' %></p>
<% end %>