<% unless current_user?(user) %>
  <div class="w-28 ml-6 font-bold text-center">
    <% if current_user.following?(user) %>
    <div class="bg-green-800 hover:opacity-75 text-white py-1 aspect-[4/1]">
      <%= render 'unfollow', {user: user} %>
    </div>
    <% else %>
      <div class="bg-blue-800 hover:opacity-75 text-white py-1 aspect-[4/1]">
        <%= render 'follow', {user: user} %>
      </div>
    <% end %>
  </div>
<% end %>