<div class="bg-white flex flex-col items-center pt-5 mb-20">
  <%= render  'profile', user: @user %>
  <div class="w-11/12 lg:w-3/5">
    <% if !@user.likes.empty? %>
      <%# binding.pry %>
      <%= render "likes", user_likes:@user.likes, user:@user %>
    <% else %>
      いいねした曲がありません
    <% end %>
  </div>
</div>
