<header>
  <nav class="flex items-center w-screen justify-between bg-white border-b border-gray-200 pl-7 pr-2 md:pr-6 lg:pr-10 py-2.5">
    <div class="flex items-center flex-shrink-0 text-black">
      <span class="font-extrabold text-4xl tracking-wide">
        <%= link_to root_path do %>
          TUNE
        <% end %>
      </span>
    </div>
    <div class="lg:text-lg flex flex-nowrap items-center whitespace-pre py-1">
      <%= link_to (t 'themes.index.title'), themes_path, {class: "invisible md:visible font-serif pr-3 md:pr-6 lg:pr-9"} %>
      <%= link_to 'ログイン', login_path, {class: "font-serif font-bold text-sm text-white bg-black px-4 py-2"} %>
    </div>
  </nav>
</header>