<% flash.each do |message_type, message| %>
  <%# binding.pry %>
  <% if message == "メールアドレスまたはパスワードが違います。" %>
    <% break %>
  <% end %>
  <div class="flex justify-center mt-2">
    <div class="alert w-11/12 md:w-9/12 lg:w-5/12 text-center bg-red-400"><%= message %></div>
  </div>
<% end %>