<div class="w-full bg-white bottom-0 border-t-2 mt-24 pb-10 md:pb-0">
  <div class="flex py-4 pl-2 md:pl-7 space-x-2 justify-evenly md:justify-start md:space-x-5">
    <div><%= link_to "利用規約", terms_path %></div>
    <div><%= link_to "プライバシーポリシー", privacy_path %></div>
    <div><%= link_to "お問い合わせ", "https://forms.gle/Vj3P3w3avr1NCXBq9", target: :_blank, rel: "noopener noreferrer" %></div>
  </div>
</div>