<header>
  <div class="header-logo">
    <%= link_to root_path do %>
      <%= 'Logo' %>
    <% end %>
  </div>

  <div class="header-list">
    <ul>
      <li><%= link_to 'ログイン', '#' %></li>
      <li><%= link_to 'ログアウト', '#' %></li>
    </ul>
  </div>
</header>