<% user ||= current_user %>
  <div>
    <%= link_to followers_user_path(user.username), class:"text-lg" do %>
      <span class="font-bold">
        <%= user.followers.count %>
      </span>
      フォロワー
    <% end %>

    <%= link_to following_user_path(user.username), class:"ml-5 text-lg" do %>
      <span class="font-bold">
        <%= user.following.count %>
      </span>
      フォロー中
    <% end %>
  </div>