<iframe class="w-3/4 lg:1/2 h-20" style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= answer.answer %>?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<div class="mb-4">
  <% if current_user %>
    <% if current_user.like?(answer) %>
      <%= render 'unlike', { answer: answer } %>
    <% else %>
      <%= render 'like', { answer: answer } %>
    <% end %>

    <% if current_user.own?(answer) %>
      <%= link_to '解答を削除する', theme_answer_path(theme, my_answer), data: { turbo_method: :delete } %>
    <% end %>
  <% end %>
</div>